/* BLOG FRONT PAGE */

.blog-heading{
    background-color: rgb(31, 118, 192);
    position: relative;

 }
 
.blog-heading h1 {
    letter-spacing: 0em;
    text-align:center;
    color: white;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

.blog-featured {
    background-color: rgb(31, 118, 192);
    text-decoration: none;
    padding-bottom:3em;
}

.blog-featured-caption {
    background-color:rgb(240, 240, 240);
    padding-bottom:3em;
    text-decoration: none !important;

}

.blog-featured-caption h1 {
    font-weight: bold;
    font-family: sans-serif;
}
.blog-featured .card-deck {
    margin-left: 0em;
    margin-right:0em;
}

.blog-featured .card-feature-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    background-size:cover;

}
    
.blog-featured .card2-img-top{
    max-width: 100%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.blog-featured-caption h5 {
    color:rgb(31, 118, 192);   
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none !important;

}

.blog-featured-caption p {
    color:rgb(56, 56, 56)
}

.blog-card-deck .card-deck .card {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f0f0f0;
    background-clip: border-box;
    border-style: none;
    outline: none;

}

.blog-card-deck .card-deck .card-footer {
    background-color: #f0f0f0;
    outline: none;
    border: none;


}

.blog-card-deck h1{
    font-family:sans-serif;
    font-weight: bold;

}


.teaser-section {
    background-color: white;
    padding-top: 5em;
    padding-bottom:5em;

}

.teaser-section-container {
    margin: auto;
}

.teaser-section h1 {
    font-family: sans-serif;
    color:rgb(31, 118, 192);  
}

.teaser-section p {
    font-family:sans-serif;
    font-weight: bold;
}

.teaser-section p4 {
    font-family:sans-serif;
    font-size:1.2em;
    text-align: right;
    font-weight: bold;
}

.teaser-buy-now button {
    background-color: rgb(15, 162, 247); /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em;

}


.teaser-free button {
    background-color: rgb(255, 255, 255); 
    border-style: solid;
    border-color: rgb(0, 0, 0);
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;


}

.teaser-section-container p5{
    font-style: italic;
    padding-left:7em;
    font-size:1em;
    padding-right:1em;
    margin-left: 2em;
    margin-top:1em;
    padding-right:1.5em;

}

.categories h1 {
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0e0e0e

}

.explore-card-area {
    position: relative;
    margin-bottom:5em;

}
.explore-card-area .card-deck {
    margin-left: 0em;
    margin-right:0em;
}

.explore-card-area .card-deck .card {
    border:none;
}

.explore-card-area .card-deck .card {
    text-align:center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:grey;

}

.explore-card-area .card-deck .card-img-top {
    max-width: 85%;
    max-height:85%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


/* INDIVIDUAL BLOG PAGES */ 

.blog-banner {
    background: url(../img/blog/what-ucat.png) no-repeat scroll center center;
    background-attachment: fixed;
    position: relative;
    
    background-color: #83cde5;
      }

.main-blog-area .main-blog-heading h1 {
    font-family:"Open Sans", sans-serif;
    text-align: center;
}

.main-blog-area .main-blog-heading p {
    font-family: sans-serif;
    color:grey;
    text-align: center;
    margin-bottom:3em;
}

.main-blog-area .container-section-blog .sub-text p {
    font-family:sans-serif;
    color: rgb(161, 161, 161);
    font-style: italic;
    margin-bottom:4em;
}

.main-blog-area .container-section-blog .main-body-text .individual-headings{
    border-bottom: 1.3px solid rgb(165, 165, 165);
    margin-bottom: 30px;
}
.main-blog-area .container-section-blog .main-body-text .individual-headings h1 {
    font-style:italic;   
}

.main-blog-area .container-section-blog .main-body-text .text p {
    margin-bottom:5em;
}

.main-blog-area .container-section-blog .main-body-text .text-details p{
    margin-bottom:1.5em;
}
.breaker {
    background-color: white;
    margin-top: 5em;
}


/*HM PAGES FOR ALL CATEGORIES */ 

.blog-home-heading {
    font-size:4em;
    position: relative;
    background-color: white;
}
 
.blog-home-heading h1 {
    letter-spacing: 0em;
    text-align:center;
    color: rgb(73, 73, 73);
    font-weight:bold;
    font-family: "Open Sans", sans-serif;
}

.blog-home-subheading {
    text-align: center;
    margin-bottom:2.5em;
}

.blog-home-subheading p1 {
    font-size:1.5em;
    font-family: "Open Sans", sans-serif;
}

.blog-home-card-decks {
    padding-right:30px;
    padding-left:30px;
    margin-bottom:5em;
}


