/* BLOG FRONT PAGE */

.blog-heading{
    background-color: rgb(31, 118, 192);
    position: relative;

 }
 
.blog-heading h1 {
    letter-spacing: 0em;
    text-align:center;
    color: white;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

.blog-featured {
    background-color: rgb(31, 118, 192);
    text-decoration: none;
    padding-bottom:3em;
}

.blog-featured-caption {
    background-color:rgb(240, 240, 240);
    padding-bottom:3em;
    text-decoration: none !important;

}

.blog-featured-caption h1 {
    font-weight: bold;
    font-family: sans-serif;
}
.blog-featured .card-deck {
    margin-left: 0em;
    margin-right:0em;
}

.blog-featured .card-feature-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    background-size:cover;
    transition-delay: 0.8ms;

}
.blog-featured .card-feature-img-top:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    
.blog-featured .card2-img-top{
    max-width: 100%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-featured .card2-img-top:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.blog-featured-caption h5 {
    color:rgb(31, 118, 192);   
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none !important;

}

.blog-featured-caption p {
    color:rgb(56, 56, 56)
}

.blog-card-deck .card-deck .card {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f0f0f0;
    background-clip: border-box;
    border-style: none;
    outline: none;
}

.individual-card-blog .card {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f0f0f0;
    background-clip: border-box;
    border-style: none;
    outline: none;
}

.main-blog-area .blog-card-deck .card-deck .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-card-deck .card-deck .card-footer {
    background-color: #f0f0f0;
    outline: none;
    border: none;
}

.individual-card-blog .card-footer {
    background-color: #f0f0f0;
    outline: none;
    border: none;
}

.blog-card-deck h1{
    font-family:sans-serif;
    font-weight: bold;

}


.teaser-section {
    background-color: white;
    padding-top: 5em;
    padding-bottom:5em;

}

.teaser-section-container {
    margin: auto;
}

.teaser-section h1 {
    font-family: sans-serif;
    color:rgb(31, 118, 192);  
}

.teaser-section p {
    font-family:sans-serif;
    font-weight: bold;
}

.teaser-section p4 {
    font-family:sans-serif;
    font-size:1.2em;
    text-align: right;
    font-weight: bold;
}

.teaser-buy-now button {
    background-color: rgb(15, 162, 247); /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em;
}

.teaser-buy-now button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.teaser-free button {
    background-color: rgb(255, 255, 255); 
    border-style: solid;
    border-color: rgb(0, 0, 0);
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
}

.teaser-free button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.teaser-section-container p5{
    font-style: italic;
    padding-left:7em;
    font-size:1em;
    padding-right:1em;
    margin-left: 2em;
    margin-top:1em;
    padding-right:1.5em;

}

.categories h1 {
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0e0e0e

}

.explore-card-area {
    position: relative;
    padding-bottom:5em;
    background-color: white;

}
.explore-card-area .card-deck {
    margin-left: 0em;
    margin-right:0em;
}

.explore-card-area .card-deck .card {
    border:none;
}

.explore-card-area .card-deck .card {
    text-align:center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:grey;

}

.explore-card-area .card-deck .card-img-top {
    max-width: 85%;
    max-height:85%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


/* INDIVIDUAL BLOG PAGES */ 


.ucat_what-hero-banner {
    background: url(../img/blog/what-ucat.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
  }

  .bmat_what-hero-banner {
    background: url(../img/background/bmat-container-1.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
  }

  .ps_what-hero-banner {
    background: url(../img/background/what-ps.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
  }
  .int_what-hero-banner {
    background: url(../img/background/intro-int-banner.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;

  }

  .bmat_tips-hero-banner {
    background: url(../img/icons/BMAT-improve-banner.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
  }

  .ucat_tips-hero-banner {
    background: url(../img/icons/improve-ucat-banner.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
  }

  .int_tips-hero-banner {
    background: url(../img/background/tips-improve-banner.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
  }

  .ps_tips-hero-banner {
    background: url(../img/background/tips-ps-banner.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
  }

  .ucat_how-hero-banner {
    background: url(../img/icons/how-banner.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
  }
  .bmat_how-hero-banner {
      background: url(../img/icons/how-bmat-banner.png) no-repeat scroll center center;
      position: relative;
      padding: 100px 0;
      background-size: cover;
      min-height: 600px;
  }
  .ps_how-hero-banner {
    background: url(../img/background/ps_how-banner.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
}
.int_how-hero-banner {
    background: url(../img/background/how-uni-int-banner.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
}

.covid_ucat-hero-banner{
    background: url(../img/background/ucat-covid-banner.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
}

.ucat_low_score-hero-banner {
    background: url(../img/blog/low-score.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
}

.bmat_low_score-hero-banner{
    background: url(../img/blog/bmat_low_score.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
}

.ucat_average_score-hero-banner {
    background: url(../img/blog/average_score.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
}

.bmat_average_score-hero-banner{
    background: url(../img/blog/bmat_average_score.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
}

.ucat_good_score-hero-banner {
    background: url(../img/blog/good_score.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
}

.bmat_good_score-hero-banner{
    background: url(../img/blog/good_score.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
}


.ucat_high_score-hero-banner {
    background: url(../img/blog/high_score.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;

}
.bmat_high_score-hero-banner{
    background: url(../img/blog/bmat_high_score.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;

}

.ps_trap_1-hero-banner {
    background: url(../img/blog/ps_trap-1.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
}

.ps_trap_2-hero-banner{
    background: url(../img/blog/ps_trap-2.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
}

.work-experience-1-hero-banner{
    background: url(../img/blog/work-experience-1.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
}

.work-experience-2-hero-banner{
    background: url(../img/blog/work-experience-2.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
}

.work-experience-3-hero-banner{
    background: url(../img/blog/work-experience-3.png) no-repeat scroll center center;
    position: relative;
    padding: 100px 0;
    background-size: cover;
    min-height: 600px;
}




.main-blog-area {
    background-color: white;
}


.main-blog-area .main-blog-heading h1 {
    font-family:"Open Sans", sans-serif;
    text-align: center;
    margin-top:1em;
}

.main-blog-area .main-blog-heading p {
    font-family: sans-serif;
    color:grey;
    text-align: center;
    margin-bottom:3em;
}

.main-blog-area .container-section-blog .sub-text p {
    font-family:sans-serif;
    color: rgb(161, 161, 161);
    font-style: italic;
    margin-bottom:4em;
}

.main-blog-area .container-section-blog .main-body-text .individual-headings{
    border-bottom: 1.3px solid rgb(165, 165, 165);
    margin-bottom: 30px;
}
.main-blog-area .container-section-blog .main-body-text .individual-headings h1 {
    font-style:italic;   
}



.main-blog-area .container-section-blog .main-body-text .text-details p{
    padding-bottom:1.5em;
}
.breaker {
    background-color: white;
    padding-top: 5em;
}


/*HM PAGES FOR ALL CATEGORIES */ 

.blog-home-heading {
    font-size:4em;
    position: relative;
    background-color: white;
}

.categories-header {
    background: white;
}
 
.blog-home-heading h1 {
    letter-spacing: 0em;
    text-align:center;
    color: rgb(73, 73, 73);
    font-weight:bold;
    font-family: "Open Sans", sans-serif;
}

.blog-home-subheading {
    text-align: center;
    padding-bottom:2.5em;
    background: white;
}

.blog-home-subheading p1 {
    font-size:1.5em;
    font-family: "Open Sans", sans-serif;
}

.blog-home-card-decks {
    padding-right:30px;
    padding-left:30px;
    background:white;
}

.blog-home-card-decks .blog-card-deck .card-deck .card:hover{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.individual-card-blog .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contents-section-blog  {
    padding-bottom:3em;
}

.contents-section-blog .container-fluid h1{
    font-size:1.7em;
}
.contents-section-blog .container-fluid h2{
    font-size:1.2em;
    color:grey;
    padding-top:1em;
    padding-left:1em;
}
.contents-section-blog .container-fluid p{
    padding-left:0.8em;
}


.contents-section-blog .container-fluid .card .fa{
    font-weight:inherit;
    font-size:1.1em;
    padding-left:1em;
    padding-bottom:0.8em;
}

.container-fluid h4 {
    color:#d6d6d6;
}

/* FOR THE CATEGORY SECTIONS OF BLOGS */ 

.subheading-categories h1{
    font-size:2.2em;
    text-align:center;
    font-weight:bold;
    padding-top:2.5em;
    padding-bottom:1.5em;
}

.podcast-categories h1{
    font-size:1.25em;
    font-weight:400;
    text-align:center;
    font-weight:400;
    margin-top:0.8em;
}

.podcast-categories .card {
    border:none;
    text-align: center;
    margin-bottom:2em;
}

.podcast-categories .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.podcast-categories .card-deck {
    margin-left:0;
    margin-right:0;
}

.podcast-categories .card .card-body p1 {
    color:#888888;
}

