html {
  scroll-behavior: smooth;
}

.about-hero-banner {
  background: url(../img/background/about-us-container-1.png) no-repeat scroll center center;
  position: relative;
  min-height: 590px;
  margin-top: 5.4em;
  background-color: rgb(31, 118, 192);
}

.about-hero-banner h2 {
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 90px;
  font-style: italic;
  font-size: 30px;
  line-height: 1.5em;
}

.about-hero-banner p {
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

/* SUBNAV */
.sub-nav {
  overflow: hidden;
  background-color: white;
}

.sub-nav .nav-item {
  float: left;
  width: 50%;
  border: 1px solid #c3c3c3;
  padding: 6px;
  padding: .375rem;
}

.sub-nav a {
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.sub-nav .nav-link:hover {
  background-color: #eee;
  color: #5985BA;
}

.dropdown-menu-show {
  background-color: #5985BA !important;

}

/* MEET THE TEAM CARDS */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
  text-align: center;
}

.our-team {
  padding: 60px 0;
  background-color: #eee;
  padding-top: 150px;
}

.our-team .section-title {
  text-align: center;
  color: black;
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.our-team .card {
  border: none;
  background: #ffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  width: 100%;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: black !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: black !important;
}

.frontside .card .card-body img {
  width: 150px;
  height: 150px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 50%;
}

#anita-card {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.our-team .card p2 {
  font-size: 0.8em;
  font-weight:bold;
}

/* OUR AIM SECTION */
.our-aim-area {
  min-height: 650px;
  background-color: #6098d1;
}

.our-aim-area h2 {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.our-aim-area p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* WHY TMG SECTION */
.why-tmg-area {
  min-height: 650px;
  justify-content: center;
  background-color: #eee;
  padding-bottom: 100px;
}

.why-tmg-area h2 {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin-top: 70px;
}

.why-tmg-area .card-deck .card {
  color: #000000;
  border-style: solid;
  border-color: black;
}

.why-tmg-area .card-deck .card h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* CONTACT AREA */
.contact-area {
  min-height: 650px;
  justify-content: center;
}

.contact-area .contact-area-title h2 {
  padding-bottom: 50px;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

/* FAQs SECTION */
.faqs-area {
  padding-top: 100px;
}

.faqs-area h1 {
  padding-top: 30px;
  text-align: center;
  font-family: "Arial Black", sans-serif;
  color: rgb(7, 36, 56);
}

.faqs-area p {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgb(7, 36, 56);
}

.faqs-area .card {
  border-style: solid;
  border-color: rgb(7, 36, 56);
}

.faqs-area .card img {
  align-self: center;
}

.faqs-area .card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 20px;
  color: rgb(7, 36, 56);
}

.accordion-area {
  min-height: 500px;
  padding-top: 100px;
  padding-bottom: 90px;
  margin-right: 2em;
  margin-left: 2em;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: left;
  width: 100%;
  margin-top: 1em;
}

.accordion:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
}