.about-hero-banner {
  background-color: rgb(174, 39, 45);
  min-height: 450px;
}

.about-hero-banner h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 80px;
}

.sub-nav {
  overflow: hidden;
  background-color: white;
}

.sub-nav a {
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.sub-nav .nav-link:hover {
  background-color: #eee;
  color: #5985BA;
}