.header_area .main_menu .navbar .navbar-brand {
  font-family: arial black;
}

#navbarTogglerDemo02 {
  font-family: arial black;
}

.home_banner_area .banner_inner .overlay {
  background: url(../img/background/front-landing-page_.png) no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

.home_banner_area .banner_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 900px;
  background-color: #5985BA;
}

.home_banner_area .banner_inner .banner_content {
  color: #fff;
}

.home_banner_area .banner_inner .banner_content h3 {
  font-size: 30px;
  font-family: arial black;
  font-weight: 600;
  margin-bottom: 30px;
}

.home_banner_area .banner_inner .banner_content p {
  font-size: 15px;
  font-weight: 300;
  font-family: arial;
  line-height: 27px;
  margin-bottom: 50px;
}

.banner_content button {
  display: inline-block;
  background: rgb(223, 71, 59);
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  color: #fff;
  font-family: arial;
  font-size: 15px;
  font-weight: 550;
  line-height: 48px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
}

.service-area .service-area-inner .overlay {
  background: url(../img/background/container-2.png) no-repeat center left;
  position: absolute;
  left: 80px;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

.service-area .service-area-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 900px;
  background-color: rgb(208, 208, 208);
}

.service-area .service-area-inner .service_content {
  margin-top: 50px;
  color: black;
}

.service-area .service-area-inner .service_content h2 {
  font-size: 30px;
  font-family: arial black;
  font-weight: 600;
  margin-bottom: 30px;
}

.service-area .service-area-inner .service_content h3 {
  font-size: 20px;
  font-family: arial;
  font-weight: 500;
  margin-bottom: 30px;
}

.service-area .service-area-inner .service_content p {
  font-size: 15px;
  font-weight: 400;
  font-family: arial;
  line-height: 27px;
  margin-bottom: 50px;
}

.service-area .service-area-inner .service_content .card-deck .card {
  border-radius: 25px;
  font-family: arial black;
  font-size: 25px;
  background-color: rgb(223, 223, 223)
}

.service-area .service-area-inner .service_content .card-deck .card p {
  font-family: arial;
  font-size: 15px;
}

.service-area .service-area-inner .service_content img {
  height: 32%;
  width: 40%;
  align-self: center;
  padding-top: 10px;
}

.service-area-subcontent {
  position: relative;
  background-color: rgb(105, 145, 193);
}

.area-padding {
  padding: 130px 0;
}

.service-area-subcontent .service-subcontent-inner .overlay {
  background: url(../img/background/container-3.png) no-repeat center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

.service-area-subcontent .area-heading {
  margin-bottom: 90px;
  text-align: left;
  margin-top: 15px;
}

.service-area-subcontent .area-heading h4 {
  font-size: 45px;
  color: #1d1d1d;
  font-family: arial black;
  margin-bottom: 40px;
  line-height: 58px;
}

.service-area-subcontent .area-heading p {
  font-size: 14px;
  font-family: arial;
  color: black;
  margin-bottom: 40px;
  line-height: 27px;
  padding-right: 65px;
}

.service-area-subcontent .single-feature {
  text-align: left;
  display: inline-block;
}

.service-area-subcontent .single-feature img {
    width: 100px;
    height: 90px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    line-height: 100px;
    min-width: 100px;
    margin-right: 40px;
}
