.header_area .main_menu .navbar .navbar-brand {
  font-family: arial black;
}

#navbarTogglerDemo02 {
  font-family: arial black;
}

.home_banner_area .banner_inner .overlay {
  background: url(../img/background/front-landing-page.png) no-repeat scroll center center;
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  height: 100%;
  bottom: 0;
  z-index: 3;
}

.home_banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 900px;
    background-color: #5985BA;
}

.home_banner_area .banner_inner .banner_content {
    color: #fff;
}

.home_banner_area .banner_inner .banner_content h3 {
    font-size: 30px;
    font-family: arial black;
    font-weight: 600;
    margin-bottom: 30px;
}

.home_banner_area .banner_inner .banner_content p {
    font-size: 15px;
    font-weight: 300;
    font-family: arial;
    line-height: 27px;
    margin-bottom: 50px;
}

.banner_btn {
    display: inline-block;
    background: rgb(223, 71, 59);
    padding: 10px 20px;
    border: 1px solid rgb(223, 71, 59);
    border-radius: 16px;
    color: #fff;
    font-family: arial;
    font-size: 15px;
    font-weight: 550;
    line-height: 48px;
    outline: none!important;
    box-shadow: none!important;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    overflow: hidden;
}
